<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name = "viewport" content="width = device-width,initial-scale = 1,shrink-to-fit = no">

	{% include 'snippets/header.html' %}	
</head>
<body>
	<style type="text/css">
		.main{
			min-height: 100vh;
			height: 100%;	
		}
	</style>
	<div class="main">
	{% block content %}
	
	{% if request.user.is_authenticated %}
	<h1 style="text-align: center;">User App Welcomes You  {{request.user.username}}</h1>
	{% else %}
	<h1>Hello Welcome Aboard! {{request.user.username}}</h1>
	{% endif %}

	{% endblock content %}

	{% include 'snippets/footer.html' %}
	</div>
</body>

</html>